*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000
}

.navbar{
    background-color: rgb(46, 53, 50);
}

.navbar-brand{
    color: rgb(145, 132, 80);
}

.nav-link{
    color: rgb(145, 132, 80);
}

.nav-link a{
    color:rgb(145, 132, 80);
}

.hero{
    background-image: url(../multimedia/imagenes-del-sitio/IGNACIOHOME1.jpg);
    height: 100vh;
}

h2{
    color:rgb(145, 132, 80);
}

.carousel-item{
    height: 80vh;
}

footer{
    background-color: rgb(145, 132, 80);
}

footer li{
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
}

.footer-p{
    text-align: center;
    padding-top: 20px;
}

.beatport-logo{
    position: fixed;
    bottom: 15px;
    right: 30px;
}

.beatport-logo img{
    width: 50px;
}

.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 2%;
}

.card{
    background-color: rgb(164, 22, 35);
}

.card img{
    max-width: 100%;
}

p.card-text{
    color: rgb(145, 132, 80);
    font-size: 22px;
}

/*.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    row-gap: 30px;
    column-gap: 30px;
}*/

.tracks .box{
    background-color: rgb(164, 22, 35);
}

.box img{
    width: 100%;
}

.box audio{
    width: 100%;
}

/*.box.g-col-6.g-col-md-4{
    background-color: rgb(164, 22, 35);
}*/

table.table a{
    color: rgb(145, 132, 80);
    text-decoration: none;
}

table.table a:active{
    color:rgb(164, 22, 35);
}